    {% extends "homepage.html" %}

    {% block title %}
        Fléxi - Criar Conta
    {% endblock %}

    {% block form %}
        <form method="post">
        {{ form.csrf_token }}
            {{ form.email.label() }}
            {{ form.email }}

            {% if form.username.errors %}
                {% for erro in form.username.errors %}
                    <p class="alert alert-danger"> {{ erro }} </p>
                {% endfor %}
            {% endif %}

            {{ form.username.label }}
            {{ form.username }}

            {{ form.password.label }}
            {{ form.password }}

            {{ form.confirm_password.label() }}
            {{ form.confirm_password }}

            {{ form.submit }}
        </form>
    <a href="{{ url_for('homepage') }}">Tem uma conta? Faça login!</a>
    {% endblock %}